body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  color: grey;
}

form {
  margin-bottom: 25px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

li {
  display: list-item;
  margin-left: 20px;
}

a {
  color: rgb(47, 39, 47);
}

.bulletize {
  list-style-type: circle !important;
}

.margin-top-zero {
  margin: 0;
}

.margin-top-adder {
  margin-top: 25px;
}

.margin-top-large-adder {
  margin-top: 50px;
}

.side-margin-adder {
  margin-left: 8px;
  margin-right: 8px;
}

.side-padding-buffer {
  padding-left: 30px;
  padding-right: 30px;
}

.link_underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.light-weight {
  font-weight: 300;
}

.inline_block {
  display: inline-block;
}

.block {
  display:block;
}

.hamburger_border {
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  padding: 10px 5px;
}

.desktop-nav-position {
  height: -webkit-calc(100% - 96px);
  position: relative;
  top: 68px;
}

.subject_overview_buttons {
  margin: 5px;
}

.card_action_link {
  border: 0;
  background-color: transparent;
  color: #ffab40;
  margin-right: 24px;
  transition: color .3s ease;
  text-transform: uppercase;
}
