body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.margin-remover {
  margin: 0;
}

h2 {
  font-size: 28px;
}

.subjects {
  margin-top: 35px;
}

li {
display: list-item;
margin-left: 1em;
}

.pages li {
  list-style-type: square !important;
}