body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.margin-remover {
  margin: 0;
}

h2 {
  font-size: 28px;
}

li {
  display: list-item;
  margin-left: 20px;
}

a {
  color: rgb(47, 39, 47);
}

.pages li {
  list-style-type: square !important;
}

ul.pages {
  font-weight: normal;
}

.selected {
  font-weight: bold;
}

footer {
  color: grey;
}

.menu_name {
  display: inline;
  font-weight: bold;
}
