body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.margin-remover {
  margin: 0;
}

.margin-adder{
  margin-top: 25px;
}

.margin-large-adder {
  margin-top: 50px;
}

.side-margin-adder{
  margin-left: 8px;
  margin-right: 8px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

li {
  display: list-item;
  margin-left: 20px;
}

a {
  color: rgb(47, 39, 47);
}

.make_list {
  list-style-type: square !important;
}

ul.pages {
  font-weight: normal;
}

.link_underline {
  text-decoration: underline;
}

.selected {
  font-weight: bold;
}

footer {
  color: grey;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.light-weight {
  font-weight: 300;
}

.inline {
  display: inline;
}

.inline_block {
  display: inline-block;
}

.block {
  display:block;
}

form {
  margin-bottom: 25px;
}

.hamburger_border {
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  padding: 10px 5px;
}

.back-to-dashboard-link {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
